<% provide(:title, "About") %>
</br>
<!-- <h1>Title:</h1> -->
<h1>A Research Project on Kids' Search Engines</h1>
<div class="row">
<div class="col-md-8 col-md-offset-2">
</br>
<p>This website is the implementation of a tool used to aid in the research efforts of Dr. Sole Pera at Boise State University. The main purpose of this website is to help gather data for research purposes so please be warned that we will be collecting information of those who log in to this website. Information that is collected includes grade level of user, time and date that the user logs in, queries that the user uses for searching.</p>
</br>
<p>The purpose of this research is to help young children become more successful in using popular search engines on the internet. Technology is becoming an ever increasing part of our everyday lives, and as such, children start interacting with and using technology at young ages. However most technologies are created for adults and do not consider how a child might interact with certain products.</p>
</br>
<p>Some research has already been done in the field of information retrieval for children, specifically with search engines. From this previous research, there have been surveys that highlight some of the difficulties children may experience in using popular search engines. This research attempts to identify solutions to some of those issues.</p>
</br>
<p>Currently there are some search engines that are targeted for younger audiences. However there is no one search engine that addresses all issues that should be addressed when considering younger users. Also, some research has shown that children prefer to use popular search engines, such as Google Search, over one created for children and are not more successful in their searches when using a search engine created for children [Gos14].</p>
</br>
<p>Besides the obvious issues, such as content that is inappropriate for children, a few of the issues facing children that should be considered include:</p>
<ul id="aboutPageUL">
  <li>Choosing keywords that accurately represent the search intent of the user. This task can be sometimes be hard for general users but can be even more difficult for children because of their limited vocabulary [Dru09, Kam12, Gos14]. It can especially be difficult for children to reformulate queries if they do not find the information they are looking for.</li>
  </br>
  <li>Using longer natural language queries [Bil00, Dru09, Joc10, N10]. Because children have a more difficult time choosing keywords, they may choose to input their whole question instead. This may lead to the retrieval of non-relevant resources.</li>
  </br>
  <li>Taking advantage of query suggestions [Dru09]. There are a couple reasons why this may be. One idea is that children do not understand the purpose of query suggestions and do not know that it may help them in their search. Another idea is that children may not even see the query suggestion. They wouldn’t see this because they are not sufficient in using the keyboard are looking down at the keyboard to type.</li>
  </br>
  <li>Analyzing returned searches. Children’s skills in quickly skimming and analyzing returned results are not as developed as an average user. Because of this, recent studies have shown [Gos14] that children are likely to input one query and spend a lot of time reading through every returned result, as opposed to reformulating their query if they do not find what they are looking for right away. There may also be results that use more advanced language or vocabulary that children would not understand that could slow them down.</li>
</ul>
</br>
</div>
</div>

