<div class="center jumbotron">
  <h1>Welcome to the Kid's </br> Search Engine</h1>

  <h2>
    This is the home page for a research project that helps to create an internet search engine that is easy for kids to use!
  </h2>

  <%= link_to "Use Search Engine", student_signup_path, class: "btn btn-lg btn-primary" %>
</div>
