<footer class="footer">
  <small>
    Research by <a href="http://coen.boisestate.edu/faculty-staff/solepera/">Dr. Sole Pera</a>
  </small>
  <nav>
    <ul>
      <% if !admin_logged_in? and !student_logged_in? %>
        <li><%= link_to "Admin Log In",  admin_login_path %></li>
     <% end %>
    </ul>
  </nav>
</footer>
